extends layout

block content
  .container.mt-5
    .row.justify-content-center
      .col-md-6
        .card.shadow
          .card-header.bg-info.text-white.text-center
            h5.mb-0= toShow.name

          .card-body
            p.mb-2
              strong Hardness:
              |  #{toShow.hardness}

            p.mb-2
              strong Color:
              span.badge.ml-2(style=`background-color: ${toShow.color}; color: white; padding: 6px 10px`) #{toShow.color}

          .card-footer.text-center
            a.btn.btn-secondary.mr-2(href='/crystal/view/all') Back
            a.btn.btn-warning(href=`/crystal/view/update?id=${toShow._id}`) Update Crystal
